
NEXTAUTH_URL=somedata
NEXTAUTH_SECRET=somedata
GOOGLE_CLIENT_ID = somedata
GOOGLE_CLIENT_SECRET = somedata

NEXT_PUBLIC_API_URL=somedata


AZURE_AD_CLIENT_ID=somedata
AZURE_AD_CLIENT_SECRET=somedata
AZURE_AD_TENANT_ID=somedata